
.book {
  background-image: linear-gradient(105deg,
          rgba($color-white, 0.9) 0%,
          rgba($color-white, 0.9) 50%,
          transparent 50%),
  url("../img/nat-10.jpg");
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.25);

  height: 50rem;

  &__form {
    width: 50%;
    padding: 6rem;
  }
}