
.composition {

  position: relative;

  &__photo {

    position: absolute;
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    z-index: 10;
    transition: all 200ms;
    outline-offset: 1rem;

    &--p1 {
      top: -2rem;
      left: 0;
      transition: all 200ms;
    }

    &--p2 {
      top: 2rem;
      right: 0;
      transition: all 200ms;
    }

    &--p3 {
      top: 10rem;
      left: 20%;
    }

    &:hover {
      outline: 1rem solid $color-primary;
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      z-index: 20;
    }
  }

  &:hover &__photo:not(:hover) {
    transform: scale(0.9);
  }
}
