
.popup {

  position: relative;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 3000;

  opacity: 0;
  visibility: hidden;
  transition: all 300ms;

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &__close {
    text-decoration: none;
  }

  &__content {

    @include absCenter;

    width: 75%;
    height: 50rem;
    background-color: white;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.2);
    border-radius: 3px;
    display: table;

    //opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    transition: all 400ms 200ms;
  }

  &__left {
    width: 33.333%;
    display: table-cell;
  }

  &__right {

    height: 66.666%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem;

    &::after {
      @include clearfix;
    }
  }

  &__img {
    display: block;
    width: 100%;
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 3rem;

    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px solid $color-grey-light-2;

    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px solid $color-grey-light-2;

    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  &:target {
    opacity: 1;
    visibility: visible;
  }

  &:target &__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  &__close {

    &:link,
    &:visited {
      color: $color-grey-dark;
      position: absolute;
      top: 2.5rem;
      right: 2.5rem;
      font-size: 3rem;
      display: inline-block;
      transition: all 200ms;
      line-height: 1;
    }

    :hover {
      color: $color-primary;
    }
  }
}