@font-face {
    font-family: 'EduNSWACTFoundation';
    src: url("assets/fonts/EduNSWACTFoundation-Regular.ttf") format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'EduNSWACTFoundation';
    src: url("assets/fonts/EduNSWACTFoundation-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'EduNSWACTFoundation';
    src: url("assets/fonts/EduNSWACTFoundation-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'EduNSWACTFoundation';
    src: url("assets/fonts/EduNSWACTFoundation-Bold.ttf") format('truetype');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'EduNSWACTFoundation', sans-serif;
}

.u400 {
    font-weight: 400;
}

.u500 {
    font-weight: 500;
}

.u600 {
    font-weight: 600;
}

.u700 {
    font-weight: 700;
}