html {
    height: 100%;
}

body {
    display: grid;
    margin: 20px;
    height: 100%;
    grid-template-columns: [col-1-start] 1fr [col-1-end col-2-start] 3fr [col-2-end];
    grid-template-rows: 4.5rem auto 4.5rem;
    grid-template-areas: "header header"
                        "side main"
                        "footer footer";
}

header {
    background: blue;
    color: white;
    /*grid-column-start: col-1-start;*/
    /*grid-column-end: col-2-end;*/
    grid-area: header;
}

main {
    background: red;
    color: white;
    /*grid-column-start: col-2-start;*/
    /*grid-column-end: span 1;*/
    grid-area: main;
}

aside {
    background: green;
    color: white;
    /*grid-column-start: col-1-start;*/
    /*grid-row-start: 2;*/
    /*grid-row-end: 3;*/
    grid-area: side;
}

footer {
    background: purple;
    color: white; 
    /*grid-column-start: col-1-start;*/
    /*grid-column-end: col-2-end;*/
    grid-area: footer;
}