/* fraction concept */
.container {
    margin: 20px;
    display: grid;
    height: 500px;
    /* grid-template-columns: 200px 5rem 20% auto; */
    /* repeat(times, pattern) function */
    grid-template-columns: repeat(4, 20%) 20%;
    /* minmax(min, max) */
    grid-template-rows: 5rem minmax(10px, 200px) 100px;
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
}

/* grid layout can overlay */
.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: span 1;
    z-index: 10;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    /*grid-column-start: 3;*/
    /*grid-column-end: 5;*/
    /*grid-row-start: 1;*/
    /*grid-row-end: 3;*/
    grid-column-start: 3;
    /* span 2 means start at line 3 and span 2 columns */
    grid-column-end: span 3;
    grid-row-start: 1;
    grid-row-end: 3;}

.el4 {
    background: rgba(0, 4, 255, 0.5);
}