<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<img id="image" src="" alt="image">
<input id="image-input" type="file" accept="image/*">
</body>
<script>
    const image = document.getElementById("image")
    const input = document.getElementById("image-input");
    input.onchange = function (event) {
        const file = event.target.files[0];
        console.log(file);
        if (file) {
            const formData = new FormData();
            formData.append("file", file);
            fetch('/api/files', {
                    method: 'POST',
                    body: formData,
                }
            )
                .then(res => res.text())
                .then(url => image.src = url);
        }
    };
</script>
</html>