.container {
    margin: 20px;
    display: grid;
    /* auto-fill, view port 에 맞도록 최대한 컬럼을 채운다. */
    /*grid-template-columns: repeat(auto-fill, 15rem);*/
    /* auto-fit, view port 에 맞도록 최대한 컬럼을 채우지만 컬럼이 모자라는 경우 중앙으로 정렬해준다. */
    grid-template-columns: repeat(auto-fit, 15rem);
    grid-template-rows: 20rem;
    justify-content: center;
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(8rem, auto);
    grid-auto-flow: row;
    grid-auto-columns: 5rem;
}

.quote {
  border: 1px solid #fa923f;
  background: #ffbd87;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 5px;
}

.quote--featured {
  border: #ff4213;
  background: #ff9f87;
  grid-column: span 2;
}