
/* 기본적으로 모든 바디에서 사용되는 폰트 패밀리*/
body {
    font-family: 'Montserrat', sans-serif;
}

#product-overview {
    background: #ff1b68;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* 재사용 할 수 있을 때 클래스를 사용한다. */
/* 상속 받을 때 inherit 키워드를 이용해 상속 가능 */
.section-title {
    color: #2ddf5c;
}
