
* {
    box-sizing: border-box;
}

/* 기본적으로 모든 바디에서 사용되는 폰트 패밀리*/
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* box layout in css - content, padding, border, margin */
#product-overview {
    background: #ff1b68;
    width: 100%;
    height: 528px;
    padding: 10px;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* 재사용 할 수 있을 때 클래스를 사용한다. */
/* 상속 받을 때 inherit 키워드를 이용해 상속 가능 */
.section-title {
    color: #2ddf5c;
}

.main-header {
    width: 100%;
    background: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
}

.main-nav {
    width: calc(100% - 45px);
    display: inline-block;
    text-align: right;
    list-style: none;
}

.main-nav__items {
    margin: 0;
    padding: 0;
}

.main-nav__item {
    display: inline-block;
}
