.main-container {
    margin: 10px;
}

.main-container header,
.main-container footer {
    width: 50%;
    height: 30px;
    border: 1px solid lightgray;
    margin: 10px 0 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .home,
.main-container .user {
    width: 50%;
    height: 60px;
    background-color: cornflowerblue;
    margin: 10px 0 10px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
