*,
::before,
::after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

button {
    width: 7rem;
    height: 3rem;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    background-color: dodgerblue;
    cursor: pointer;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

.App {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 15rem;
    border: 1px solid lightgray;
    left: 50%;
    top: 10%;
    transform: translate(-50%, -50%);
}

.App h2 {
    margin-bottom: 1.5rem;
}

.dim {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.25);
    z-index: 2;
}

.modal {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 55rem;
    height: 15rem;
    background-color: white;
    border: 1px solid red;
    border-radius: 5px;

    left: 50%;
    top: 25%;
    transform: translate(-50%, -50%);
    z-index: 5;
}

.modal h2 {
    margin-bottom: 1.5rem;
}

.modal button {
    background-color: red;
}