.container {
    margin: 20px;
    display: grid;
    grid-template-columns: repeat(2, 15rem);
    grid-template-rows: 20rem;
    justify-content: center;
    grid-gap: 1.5rem;
    grid-auto-rows: minmax(8rem, auto);
    grid-auto-flow: row;
    /* when grid-auto-flow: column; */
    /*grid-auto-columns: 5rem;*/
}

.quote {
  border: 1px solid #fa923f;
  background: #ffbd87;
  font-family: sans-serif;
  padding: 1rem;
  border-radius: 5px;
}

.quote--featured {
  border: #ff4213;
  background: #ff9f87;
  grid-column: span 2;
}